/* div {
    width: 50%;
    height: 50%;
    background-color: orange;
} */

div {
    background-color: blue;
    border-radius: 5px;
}

/* #myDiv {
    background-color: purple;
} */

.colorbox {
    background-color: pink;
}

h1 {
    font-size: 24px;
    color: purple;
}

/* FLEX BOX STUFF */
#flexbox-div {
    width: 400px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.flexbox-item {
    width: 100px;
    height: 80px;
    background-color: green;
    margin: 5px;
    /* animation: color-change 3s linear infinite forwards; */
}

.flexbox-item:hover {
    /* animation: bouncybox 2s linear forwards; */
}

@keyframes color-change {
    0%, 100% {
        background-color: green;
    }
    50% {
        background-color: red;
    }
    75% {
        background-color: palevioletred;
    }
}

@keyframes bouncybox {
    0%, 100% {
        transform: translateY(0px);
    }
    40% {
        transform: translateY(-20px);
    }
}

/* INPUT TYPES */